body{
    background-color: #0f121f;
    background-image:url(stars.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
body * {
    font-family: arial, serif;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}
a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}

.wrapper{
    max-width:960px;
    margin:0 auto;
}
div.wrapper h1{
    text-align:center;
    margin:50px auto;
    font-size:2.4em;
}
header{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:32px 0;
}
.topnav {
  overflow:hidden;
}
.topnav a{
    float:right;
    color:#f2f2f2;
    text-align:center;
    padding:0 16px;
    text-decoration:none;
    font-size:17px;
}
.topnav .logout-button{
  float:right;
}
.topnav a:hover {
  background-color: #00bda0;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.create-article .container {

}
.site-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: left;
  width: 100%;
  margin-top: 6px;
}
.site-form input[name=body]{
  width: 100%;
  padding-bottom:100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: left;
  width: 100%;
  margin-top: 6px;
}
.site-form label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  float: left;
  width: 25%;
  margin-top: 6px;
}
.site-form input[type=submit] {
  background-color: #00dba0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  margin-top: 6px;
}

.site-form input[type=submit]:hover {
  background-color: #45a049;
}

.articles{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:40px;
}
.article{
    border:1px solid #00dba0;
    position:relative;

}
.article h2{
    font-size:1.2em;
}

.article-detail .article{
    padding:0;
}

.article-detail .article img{
    max-width:100%;
}

.article-detail .article p{
    padding:10px 0 0 10px;
}
.articles .article h2{
    padding:10px 0 0 10px;
}
.articles .article .body{
    padding:10px 0 0 10px;
    }

.article .author-date{
    display:grid;
    grid-template-columns:1fr 1fr;
    background-color:#00dba0;
    color:#0f121f;
}
.article .author-date .date{
  padding-left:10px;
}
.article .author-date .author{
  text-align:right;
  padding-right:10px;
}
.content{
    max-width:950px;
    margin:auto;
}