{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
<div class="content">
    <header>
        <h2><a href="{% url 'articles:list' %}"> LOGO</a></h2>
                {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="logout" type="submit">logout</button>
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'articles:create' %}">create new article</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:signup' %}">signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>